BEGIN;
-- Sense: 0a6cf958-f934-47c5-8afd-f970a04699c0
-- Sense: 6495ded8-9fa7-4cab-b403-e00cce99a635
-- Sense: d58cf5b3-080c-47e1-b052-98606c462e12
-- Sense: b0e23429-d687-40fe-9d07-ad4287d5a067
-- Sense: 9f5c9b4d-d084-4ca7-b4ef-bcd879ee40eb
-- Sense: 0698e210-1749-4bbd-8c40-d337646165b3
-- Sense: a149f57b-aea5-40c3-924d-df25b1588ef9
-- Sense: 78883495-5a63-4e48-a488-6e09faa7e0ef
-- Visual: 0a6cf958-f934-47c5-8afd-f970a04699c0
INSERT INTO sense_visuals (sense_id, visual_id, svg, meta) VALUES ('0a6cf958-f934-47c5-8afd-f970a04699c0', 'default', $$import React from 'react';
import { motion } from 'motion/react';

const FireTotem = ({ isActive = false }) => {
  // Variants for the flickering flame paths
  const flameVariants = {
    dormant: {
      scaleY: 1,
      opacity: 0.9,
      transition: { duration: 0.5 }
    },
    active: (i) => ({
      scaleY: [1, 1.15, 0.95, 1.1],
      scaleX: [1, 0.95, 1.05, 1],
      opacity: [0.8, 1, 0.9, 1],
      transition: {
        duration: 2 + i * 0.5,
        repeat: Infinity,
        ease: "easeInOut",
      },
    }),
  };

  // Variants for the ember particles
  const emberVariants = {
    dormant: { y: 0, opacity: 0 },
    active: (i) => ({
      y: [0, -40],
      x: [0, Math.sin(i) * 10, Math.cos(i) * 5],
      opacity: [0, 1, 0],
      transition: {
        duration: 3,
        repeat: Infinity,
        delay: i * 0.8,
        ease: "easeOut",
      },
    }),
  };

  return (
    <div className="flex items-center justify-center w-full h-full bg-transparent">
      <svg
        viewBox="0 0 100 100"
        className="w-64 h-64 overflow-visible"
        style={{ filter: 'drop-shadow(0 0 10px rgba(255, 80, 0, 0.4))' }}
      >
        <defs>
          {/* Heat Gradient: From Core White to Exterior Crimson */}
          <radialGradient id="coreHeat" cx="50%" cy="75%" r="50%">
            <stop offset="0%" stopColor="#FFFFFF" />
            <stop offset="20%" stopColor="#FFD700" />
            <stop offset="50%" stopColor="#FF4500" />
            <stop offset="100%" stopColor="#8B0000" stopOpacity="0" />
          </radialGradient>

          {/* Turbulence Filter for the 'Heat Haze' effect */}
          <filter id="heatHaze">
            <feTurbulence
              type="fractalNoise"
              baseFrequency={isActive ? "0.05" : "0.00"}
              numOctaves="2"
              result="noise"
            >
              <animate
                attributeName="baseFrequency"
                values="0.05; 0.07; 0.05"
                dur="3s"
                repeatCount="indefinite"
              />
            </feTurbulence>
            <feDisplacementMap in="SourceGraphic" in2="noise" scale={isActive ? "5" : "0"} />
          </filter>

          {/* Soft Glow Mask */}
          <filter id="bloom">
            <feGaussianBlur stdDeviation="2" result="blur" />
            <feComposite in="SourceGraphic" in2="blur" operator="over" />
          </filter>
        </defs>

        {/* The Base/Hearth (Static shape) */}
        <ellipse cx="50" cy="85" rx="15" ry="5" fill="#222" opacity="0.4" />

        <g filter="url(#heatHaze)">
          {/* Outer Flame Layer */}
          <motion.path
            d="M50 85 C30 85 20 60 50 20 C80 60 70 85 50 85 Z"
            fill="url(#coreHeat)"
            variants={flameVariants}
            custom={1}
            animate={isActive ? "active" : "dormant"}
            style={{ originY: "85%", opacity: 0.6 }}
          />

          {/* Middle Flame Layer */}
          <motion.path
            d="M50 80 C35 80 30 65 50 35 C70 65 65 80 50 80 Z"
            fill="#FF8C00"
            variants={flameVariants}
            custom={2}
            animate={isActive ? "active" : "dormant"}
            style={{ originY: "80%", mixBlendMode: "screen" }}
          />

          {/* Core Plasma Layer */}
          <motion.path
            d="M50 75 C42 75 40 68 50 50 C60 68 58 75 50 75 Z"
            fill="#FFF5EE"
            variants={flameVariants}
            custom={3}
            animate={isActive ? "active" : "dormant"}
            style={{ originY: "75%", filter: "url(#bloom)" }}
          />
        </g>

        {/* Embers/Particles */}
        {[1, 2, 3].map((i) => (
          <motion.circle
            key={i}
            cx={40 + i * 5}
            cy="70"
            r="0.8"
            fill="#FFD700"
            variants={emberVariants}
            custom={i}
            animate={isActive ? "active" : "dormant"}
          />
        ))}

        {/* Final Specular Highlight (The 'Eye' of the flame) */}
        <motion.circle
          cx="50"
          cy="70"
          r="4"
          fill="white"
          initial={{ opacity: 0.2 }}
          animate={isActive ? { opacity: [0.2, 0.5, 0.2] } : { opacity: 0.2 }}
          transition={{ duration: 1.5, repeat: Infinity }}
          style={{ filter: 'blur(2px)' }}
        />
      </svg>
    </div>
  );
};

export default FireTotem;$$, '{"stability":100,"firstDiscoverer":"UNKNOWN","firstDiscoveredAt":0}') ON CONFLICT (sense_id, visual_id) DO UPDATE SET svg = EXCLUDED.svg;
-- Visual: 6495ded8-9fa7-4cab-b403-e00cce99a635
INSERT INTO sense_visuals (sense_id, visual_id, svg, meta) VALUES ('6495ded8-9fa7-4cab-b403-e00cce99a635', 'default', $$import React from 'react';
import { motion } from 'motion/react';


    const FireTotem = ({ isActive = false }) => {
        // Kinetic Variants
        const flameVariants = {
            active: (i) => ({
                d: [
                    "M50 20 Q60 40 50 60 Q40 40 50 20", // Initial
                    "M50 15 Q65 35 50 65 Q35 35 50 15", // Stretch
                    "M50 22 Q55 45 50 55 Q45 45 50 22"  // Compress
                ],
                opacity: [0.8, 1, 0.8],
                transition: {
                    duration: 2 + i * 0.5,
                    repeat: Infinity,
                    ease: "easeInOut",
                },
            }),
            dormant: { d: "M50 20 Q60 40 50 60 Q40 40 50 20", opacity: 0.9 }
        };


        const sparkVariants = {
            active: (i) => ({
                y: [0, -40],
                x: [0, (i % 2 === 0 ? 10 : -10)],
                opacity: [0, 1, 0],
                scale: [0, 1.5, 0],
                transition: {
                    duration: 1.5 + i * 0.3,
                    repeat: Infinity,
                    ease: "easeOut",
                    delay: i * 0.2
                }
            }),
            dormant: { y: 0, opacity: 0 }
        };


        return (
            <div className= "flex items-center justify-center w-full h-full bg-transparent" >
            <svg
        viewBox="0 0 100 100"
        className = "w-64 h-64 drop-shadow-2xl"
        xmlns = "http://www.w3.org/2000/svg"
            >
            <defs>
            {/* Primary Heat Gradient */ }
            < radialGradient id = "coreGradient" cx = "50%" cy = "70%" r = "50%" >
                <stop offset="0%" stopColor = "#FFF200" />
                    <stop offset="40%" stopColor = "#FF7A00" />
                        <stop offset="100%" stopColor = "#FF0000" stopOpacity = "0.2" />
                            </radialGradient>


        {/* Alchemical Metal Gradient */ }
        <linearGradient id="baseMetal" x1 = "0%" y1 = "0%" x2 = "100%" y2 = "100%" >
            <stop offset="0%" stopColor = "#4A4A4A" />
                <stop offset="50%" stopColor = "#2C2C2C" />
                    <stop offset="100%" stopColor = "#121212" />
                        </linearGradient>


        {/* Glow Filter */ }
        <filter id="bloom" >
            <feGaussianBlur stdDeviation="1.5" result = "blur" />
                <feComposite in="SourceGraphic" in2 = "blur" operator = "over" />
                    </filter>
                    </defs>


        {/* Layer 1: The Alchemical Anchor (The Triangle) */ }
        <polygon
          points="50,15 85,85 15,85"
        fill = "none"
        stroke = "url(#baseMetal)"
        strokeWidth = "1.5"
        strokeLinejoin = "round"
            />
            <polygon
          points="50,18 82,83 18,83"
        fill = "none"
        stroke = "#FF4D00"
        strokeWidth = "0.5"
        opacity = "0.4"
            />


            {/* Layer 2: The Core Embers (Geometric foundation) */ }
            < rect x = "45" y = "78" width = "10" height = "2" fill = "#FF2E00" rx = "1" />

                {/* Layer 3: Representative Kinetic Flames */ }
                < g filter = "url(#bloom)" >
                    {/* Outer Flame Tendril Left */ }
                    < motion.path
        custom = { 1}
        variants = { flameVariants }
        animate = { isActive? "active": "dormant" }
        d = "M45 75 Q30 50 45 25 Q55 50 45 75"
        fill = "url(#coreGradient)"
        style = {{ mixBlendMode: 'screen' }
    }
          />
    {/* Outer Flame Tendril Right */ }
    < motion.path
custom = { 2}
variants = { flameVariants }
animate = { isActive? "active": "dormant" }
d = "M55 75 Q70 50 55 25 Q45 50 55 75"
fill = "url(#coreGradient)"
style = {{ mixBlendMode: 'screen' }}
          />
{/* Central Sovereign Flame */ }
<motion.path
            custom={ 0 }
variants = { flameVariants }
animate = { isActive? "active": "dormant" }
d = "M50 80 Q65 55 50 20 Q35 55 50 80"
fill = "url(#coreGradient)"
    />
    </g>


{/* Layer 4: Specular Sparks (Energetic Release) */ }
{
    [...Array(5)].map((_, i) => (
        <motion.circle
            key= { i }
            custom = { i }
            variants = { sparkVariants }
            animate = { isActive? "active": "dormant" }
            cx = { 45 + (i * 2) }
            cy = { 60}
            r = "0.8"
            fill = "#FFD700"
        />
        ))
}


{/* Layer 5: The Base Platform */ }
<line x1="30" y1 = "85" x2 = "70" y2 = "85" stroke = "url(#baseMetal)" strokeWidth = "3" strokeLinecap = "round" />
    <line x1="35" y1 = "89" x2 = "65" y2 = "89" stroke = "#1A1A1A" strokeWidth = "1" strokeLinecap = "round" />
        </svg>
        </div>
  );
};


export default FireTotem; $$, '{"stability":100,"firstDiscoverer":"UNKNOWN","firstDiscoveredAt":0}') ON CONFLICT (sense_id, visual_id) DO UPDATE SET svg = EXCLUDED.svg;
-- Visual: d58cf5b3-080c-47e1-b052-98606c462e12
INSERT INTO sense_visuals (sense_id, visual_id, svg, meta) VALUES ('d58cf5b3-080c-47e1-b052-98606c462e12', 'default', $$import React from 'react';
import { motion } from 'motion/react';


  const FireSenseWater = ({ isActive = false }) => {
    // Kinetic Variants
    const liquidVariant = {
      active: {
        d: [
          "M50 15 Q65 35 75 50 T50 85 T25 50 T50 15",
          "M50 18 Q70 30 80 55 T50 82 T20 45 T50 18",
          "M50 15 Q65 35 75 50 T50 85 T25 50 T50 15"
        ],
        transition: {
          duration: 4,
          repeat: Infinity,
          ease: "easeInOut"
        }
      },
      dormant: {}
    };


    const causticVariant = {
      active: {
        opacity: [0.3, 0.6, 0.3],
        rotate: [0, 5, -5, 0],
        scale: [1, 1.05, 0.95, 1],
        transition: {
          duration: 6,
          repeat: Infinity,
          ease: "easeInOut"
        }
      }
    };


    const bubbleVariant = {
      active: (i) => ({
        y: [-5, -40],
        opacity: [0, 0.8, 0],
        transition: {
          duration: 3 + i,
          repeat: Infinity,
          delay: i * 0.8,
          ease: "linear"
        }
      })
    };


    return (
      <div className= "w-full h-full flex items-center justify-center bg-transparent p-4" >
      <svg
        viewBox="0 0 100 100"
    className = "w-full h-full drop-shadow-2xl"
    style = {{ filter: 'drop-shadow(0 0 10px rgba(173, 216, 230, 0.3))' }
  }
      >
  <defs>
  {/* Main Body Gradient - Simulating depth and transparency */ }
  < radialGradient id = "liquidGrad" cx = "50%" cy = "40%" r = "60%" >
    <stop offset="0%" stopColor = "#ffffff" stopOpacity = "0.4" />
      <stop offset="50%" stopColor = "#e0f2fe" stopOpacity = "0.2" />
        <stop offset="100%" stopColor = "#7dd3fc" stopOpacity = "0.5" />
          </radialGradient>


{/* Caustic Filter for Internal Light Play */ }
<filter id="causticBlur" >
  <feGaussianBlur in="SourceGraphic" stdDeviation = "0.8" />
    </filter>


{/* Rim Lighting */ }
<linearGradient id="rimLight" x1 = "0%" y1 = "0%" x2 = "100%" y2 = "100%" >
  <stop offset="0%" stopColor = "#fff" stopOpacity = "0.8" />
    <stop offset="40%" stopColor = "#fff" stopOpacity = "0" />
      <stop offset="100%" stopColor = "#0ea5e9" stopOpacity = "0.3" />
        </linearGradient>


{/* Mask for internal elements */ }
<clipPath id="dropletMask" >
  <path d="M50 15 Q65 35 75 50 T50 85 T25 50 T50 15" />
    </clipPath>
    </defs>


{/* Shadow/Base Perspective */ }
<ellipse cx="50" cy = "88" rx = "20" ry = "4" fill = "rgba(0,0,0,0.1)" />


  {/* The Core Liquid Vessel */ }
  < motion.path
variants = { liquidVariant }
animate = { isActive? "active": "dormant" }
d = "M50 15 Q65 35 75 50 T50 85 T25 50 T50 15"
fill = "url(#liquidGrad)"
stroke = "url(#rimLight)"
strokeWidth = "0.5"
  />


  {/* Refractive Caustics (Visible within mask) */ }
  < g clipPath = "url(#dropletMask)" >
    <motion.path
            variants={ causticVariant }
animate = { isActive? "active": "dormant" }
d = "M40 40 Q50 45 60 40 T70 60 T40 70 Z"
fill = "none"
stroke = "white"
strokeWidth = "0.2"
strokeDasharray = "1 2"
filter = "url(#causticBlur)"
opacity = "0.4"
  />

  {/* Internal Rising Bubbles (Living Fluids) */ }
{
  [1, 2, 3].map((i) => (
    <motion.circle
              key= { i }
              cx = { 40 + (i * 5) }
              cy = { 80}
              r = { 1 + (i * 0.5) }
              fill = "white"
              opacity = "0.6"
              variants = { bubbleVariant }
              custom = { i }
              animate = { isActive? "active": "dormant" }
    />
          ))
}
</g>


{/* Surface Specular Highlight (The "Glint") */ }
<motion.ellipse
          cx="42"
cy = "35"
rx = "3"
ry = "6"
fill = "white"
opacity = "0.4"
rotate = "-20"
animate = { isActive? {
  opacity: [0.4, 0.6, 0.4],
    scale: [1, 1.1, 1],
          } : { }}
transition = {{ duration: 3, repeat: Infinity }}
        />
  </svg>
  </div>
  );
};


export default FireSenseWater; $$, '{"stability":100,"firstDiscoverer":"UNKNOWN","firstDiscoveredAt":0}') ON CONFLICT (sense_id, visual_id) DO UPDATE SET svg = EXCLUDED.svg;
-- Visual: b0e23429-d687-40fe-9d07-ad4287d5a067
INSERT INTO sense_visuals (sense_id, visual_id, svg, meta) VALUES ('b0e23429-d687-40fe-9d07-ad4287d5a067', 'default', $$import React from 'react';
import { motion } from 'motion/react';


    const WaterTotem = ({ isActive = false }) => {
        // Kinetic Variants for the Water Surface
        const waveVariants = {
            active: {
                d: [
                    "M18 40 Q50 35 82 40 L82 83 L18 83 Z",
                    "M18 40 Q50 45 82 40 L82 83 L18 83 Z",
                    "M18 40 Q50 35 82 40 L82 83 L18 83 Z"
                ],
                transition: {
                    duration: 4,
                    repeat: Infinity,
                    ease: "easeInOut"
                }
            },
            dormant: { d: "M18 40 Q50 40 82 40 L82 83 L18 83 Z" }
        };


        const rippleVariants = {
            active: (i) => ({
                opacity: [0.2, 0.5, 0.2],
                scaleX: [0.8, 1.1, 0.8],
                x: [i * 2, i * -2, i * 2],
                transition: {
                    duration: 3 + i,
                    repeat: Infinity,
                    ease: "easeInOut"
                }
            }),
            dormant: { opacity: 0.3, scaleX: 1, x: 0 }
        };


        return (
            <div className= "flex items-center justify-center w-full h-full bg-transparent" >
            <svg
        viewBox="0 0 100 100"
        className = "w-64 h-64 drop-shadow-xl"
        xmlns = "http://www.w3.org/2000/svg"
            >
            <defs>
            {/* Deep Fluid Gradient */ }
            < linearGradient id = "waterDepth" x1 = "0%" y1 = "0%" x2 = "0%" y2 = "100%" >
                <stop offset="0%" stopColor = "#4FC3F7" stopOpacity = "0.8" />
                    <stop offset="100%" stopColor = "#01579B" stopOpacity = "0.95" />
                        </linearGradient>


        {/* Caustic Reflection Pattern */ }
        <pattern id="caustics" x = "0" y = "0" width = "20" height = "20" patternUnits = "userSpaceOnUse" >
            <circle cx="10" cy = "10" r = "1" fill = "white" opacity = "0.2" >
                <animate attributeName="r" values = "1;2;1" dur = "3s" repeatCount = "indefinite" />
                    </circle>
                    </pattern>


        {/* Metallic Vessel Gradient */ }
        <linearGradient id="vesselFrame" x1 = "0%" y1 = "0%" x2 = "100%" y2 = "0%" >
            <stop offset="0%" stopColor = "#B0BEC5" />
                <stop offset="50%" stopColor = "#ECEFF1" />
                    <stop offset="100%" stopColor = "#90A4AE" />
                        </linearGradient>


        {/* Mask for the Water inside the Triangle */ }
        <clipPath id="vesselClip" >
            <polygon points="50,95 15,15 85,15" />
                </clipPath>
                </defs>


        {/* Layer 1: The Alchemical Inverted Triangle (The Frame) */ }
        <polygon
          points="50,95 15,15 85,15"
        fill = "none"
        stroke = "url(#vesselFrame)"
        strokeWidth = "2"
        strokeLinejoin = "round"
            />


            {/* Layer 2: The Contained Fluid (Clipped) */ }
            < g clipPath = "url(#vesselClip)" >
                {/* Static Background Depth */ }
                < rect x = "0" y = "0" width = "100" height = "100" fill = "#012B4D" />

                    {/* Animated Liquid Volume */ }
                    <motion.path
                        variants={waveVariants}
                        animate={isActive ? "active" : "dormant"}
                        fill="url(#waterDepth)"
                        d="M18 40 Q50 40 82 40 L82 83 L18 83 Z"
                    />


            {/* Layer 3: Internal "Solvent" Nodes (Dissolving Matter) */ }
        {
            [...Array(4)].map((_, i) => (
                <motion.ellipse
              key= { i }
              custom = { i }
              variants = { rippleVariants }
              animate = { isActive? "active": "dormant" }
              cx = { 30 + (i * 15) }
              cy = { 55 + (i * 5) }
              rx = { 10 - i }
              ry = { 1}
              fill = "white"
                />
          ))
        }


        {/* Layer 4: Caustic Light Surface */ }
        <rect x="0" y = "0" width = "100" height = "100" fill = "url(#caustics)" style = {{ mixBlendMode: 'overlay' }
    } />
    </g>


{/* Layer 5: Refractive Highlights on Glass Edge */ }
<path
          d="M17 17 L50 92"
stroke = "white"
strokeWidth = "0.5"
strokeLinecap = "round"
opacity = "0.4"
    />
    <circle cx="50" cy = "15" r = "1.5" fill = "#B0BEC5" />
        <circle cx="15" cy = "15" r = "1.5" fill = "#B0BEC5" />
            <circle cx="85" cy = "15" r = "1.5" fill = "#B0BEC5" />
                </svg>
                </div>
  );
};


export default WaterTotem; $$, '{"stability":100,"firstDiscoverer":"UNKNOWN","firstDiscoveredAt":0}') ON CONFLICT (sense_id, visual_id) DO UPDATE SET svg = EXCLUDED.svg;
-- Visual: 9f5c9b4d-d084-4ca7-b4ef-bcd879ee40eb
INSERT INTO sense_visuals (sense_id, visual_id, svg, meta) VALUES ('9f5c9b4d-d084-4ca7-b4ef-bcd879ee40eb', 'default', $$import React from 'react';
import { motion } from 'motion/react';


    const AirTotem = ({ isActive = false }) => {
        // Kinetic Variants for Gaseous Flow
        const flowVariants = {
            active: (i) => ({
                d: [
                    "M20,50 Q35,40 50,50 T80,50",
                    "M20,52 Q35,60 50,52 T80,52",
                    "M20,50 Q35,40 50,50 T80,50"
                ],
                opacity: [0.2, 0.5, 0.2],
                transition: {
                    duration: 5 + i,
                    repeat: Infinity,
                    ease: "easeInOut",
                }
            }),
            dormant: { opacity: 0.3 }
        };


        const particleVariants = {
            active: (i) => ({
                x: [0, 10, -10, 0],
                y: [0, -15, 5, 0],
                opacity: [0.1, 0.4, 0.1],
                transition: {
                    duration: 4 + i,
                    repeat: Infinity,
                    ease: "linear",
                }
            }),
            dormant: { opacity: 0.2 }
        };


        const rotationVariant = {
            active: {
                rotate: 360,
                transition: { duration: 20, repeat: Infinity, ease: "linear" }
            },
            dormant: { rotate: 0 }
        };


        const getStreamStyle = (i) => ({
            rotate: i * 120,
            originX: "50px",
            originY: "50px",
            transform: `translateY(${(i - 2) * 5}px)`
        });


        return (
            <div className= "w-full h-full flex items-center justify-center bg-transparent" >
            <svg
        viewBox="0 0 100 100"
        className = "w-4/5 h-4/5 overflow-visible"
            >
            <defs>
            {/* Atmospheric Haze Filter */ }
            < filter id = "airBlur" x = "-20%" y = "-20%" width = "140%" height = "140%" >
                <feGaussianBlur in="SourceGraphic" stdDeviation = "1.5" />
                    </filter>


        {/* Molecular Gradient */ }
        <radialGradient id="moleculeGrad" cx = "50%" cy = "50%" r = "50%" >
            <stop offset="0%" stopColor = "#E0F2FE" stopOpacity = "0.8" />
                <stop offset="100%" stopColor = "#BAE6FD" stopOpacity = "0" />
                    </radialGradient>


        {/* Wind Current Gradient */ }
        <linearGradient id="currentGrad" x1 = "0%" y1 = "50%" x2 = "100%" y2 = "50%" >
            <stop offset="0%" stopColor = "#F8FAFC" stopOpacity = "0" />
                <stop offset="50%" stopColor = "#E2E8F0" stopOpacity = "0.6" />
                    <stop offset="100%" stopColor = "#F8FAFC" stopOpacity = "0" />
                        </linearGradient>
                        </defs>


        {/* Layer 1: The Containment Sphere (Atmospheric Boundary) */ }
        <circle
          cx="50"
        cy = "50"
        r = "42"
        fill = "none"
        stroke = "url(#moleculeGrad)"
        strokeWidth = "0.5"
        strokeDasharray = "1 3"
        className = "opacity-40"
            />


            {/* Layer 2: Swirling Gas Currents */ }
            < motion.g
        variants = { rotationVariant }
        animate = { isActive? "active": "dormant" }
        style = {{ originX: "50px", originY: "50px" }
    }
        >
{
    [1, 2, 3].map((i) => (
        <motion.path
              key= {`stream-${i}`}
variants = { flowVariants }
custom = { i }
animate = { isActive? "active": "dormant" }
d = "M20,50 Q35,40 50,50 T80,50"
fill = "none"
stroke = "url(#currentGrad)"
strokeWidth = { 1 + i }
filter = "url(#airBlur)"
style = {getStreamStyle(i)}
            />
          ))}
</motion.g>


{/* Layer 3: Nitrogen/Oxygen Clusters (Molecular Detail) */ }
{
    [...Array(6)].map((_, i) => (
        <motion.circle
            key= {`mol-${i}`}
cx = { 30 + (i * 8) }
cy = { 25 + (i * 10) % 50 }
r = { 1.5 + (i % 2) }
fill = "url(#moleculeGrad)"
variants = { particleVariants }
custom = { i }
animate = { isActive? "active": "dormant" }
    />
        ))}


{/* Layer 4: Central Core Pressure Node */ }
<motion.ellipse
          cx="50"
        cy = "50"
        rx = "15"
        ry = "15"
        fill = "none"
        stroke = "#F1F5F9"
        strokeWidth = "0.2"
        animate = { isActive? {
    scale: [1, 1.1, 1],
        opacity: [0.1, 0.3, 0.1]
} : { }}
transition = {{ duration: 4, repeat: Infinity }}
        />
    </svg>
    </div>
  );
};


export default AirTotem; $$, '{"stability":100,"firstDiscoverer":"UNKNOWN","firstDiscoveredAt":0}') ON CONFLICT (sense_id, visual_id) DO UPDATE SET svg = EXCLUDED.svg;
-- Visual: 0698e210-1749-4bbd-8c40-d337646165b3
INSERT INTO sense_visuals (sense_id, visual_id, svg, meta) VALUES ('0698e210-1749-4bbd-8c40-d337646165b3', 'default', $$import React from 'react';
import { motion } from 'motion/react';


    const AirTotem = ({ isActive = false }) => {
        // Kinetic Variants for the 'Breath' expansion
        const breathVariants = {
            active: {
                scale: [1, 1.05, 1],
                opacity: [0.4, 0.7, 0.4],
                transition: { duration: 4, repeat: Infinity, ease: "easeInOut" }
            },
            dormant: { scale: 1, opacity: 0.3 }
        };


        // Kinetic Variants for the wind currents
        const streamVariants = {
            active: (i) => ({
                strokeDashoffset: [0, -100],
                opacity: [0, 1, 0],
                transition: {
                    duration: 3 + i,
                    repeat: Infinity,
                    ease: "linear",
                    delay: i * 0.5
                }
            }),
            dormant: { strokeDashoffset: 0, opacity: 0.2 }
        };


        const getStreamPath = (i) => {
            const startX = 20 + i * 5;
            const startY = 80 - i * 10;
            const ctrlY = 40 - i * 5;
            const endX = 80 - i * 5;
            const endY = 20 + i * 5;
            return `M ${startX} ${startY} Q 50 ${ctrlY} ${endX} ${endY}`;
        };


        return (
            <div className= "flex items-center justify-center w-full h-full bg-transparent" >
            <svg
        viewBox="0 0 100 100"
        className = "w-64 h-64"
        xmlns = "http://www.w3.org/2000/svg"
            >
            <defs>
            {/* Ethereal Gradient */ }
            < linearGradient id = "airGradient" x1 = "0%" y1 = "0%" x2 = "100%" y2 = "100%" >
                <stop offset="0%" stopColor = "#E0F2F1" stopOpacity = "0.1" />
                    <stop offset="50%" stopColor = "#B2EBF2" stopOpacity = "0.6" />
                        <stop offset="100%" stopColor = "#FFFFFF" stopOpacity = "0.2" />
                            </linearGradient>


        {/* Blur for Atmospheric Depth */ }
        <filter id="haze" x = "-20%" y = "-20%" width = "140%" height = "140%" >
            <feGaussianBlur stdDeviation="1.2" />
                </filter>


        {/* Glow for the 'Soul' nodes */ }
        <filter id="soulGlow" >
            <feGaussianBlur stdDeviation="0.8" result = "blur" />
                <feComposite in="SourceGraphic" in2 = "blur" operator = "over" />
                    </filter>
                    </defs>


        {/* Layer 1: The Alchemical Anchor (Triangle with Bar) */ }
        <g stroke="#94A3B8" fill = "none" strokeWidth = "1" >
            <polygon points="50,15 85,85 15,85" strokeOpacity = "0.4" />
                <line x1="32.5" y1 = "50" x2 = "67.5" y2 = "50" strokeOpacity = "0.8" strokeWidth = "1.5" />
                    </g>


        {/* Layer 2: The Inner Breath (Pulsing Core) */ }
        <motion.ellipse
          cx="50" cy = "55" rx = "25" ry = "30"
        fill = "url(#airGradient)"
        filter = "url(#haze)"
        variants = { breathVariants }
        animate = { isActive? "active": "dormant" }
            />


            {/* Layer 3: Communication Streams (Wind Paths) */ }
            < g filter = "url(#soulGlow)" >
            {
                [1, 2, 3].map((i) => (
                    <motion.path
              key= { i }
              custom = { i }
              variants = { streamVariants }
              animate = { isActive? "active": "dormant" }
              d={getStreamPath(i)}
        stroke="#F0F9FF"
        strokeWidth="0.5"
        strokeDasharray="10 20"
        fill="none"
            />
          ))}
</g>


{/* Layer 4: Intellectual Nodes (Data/Thought flow) */ }
<g fill="#BAE6FD" >
    <motion.circle 
            cx="50" cy = "50" r = "1.5"
animate = { isActive? { opacity: [0.2, 1, 0.2] } : { opacity: 0.5 }}
transition = {{ duration: 2, repeat: Infinity }}
          />
    < circle cx = "32.5" cy = "50" r = "1" opacity = "0.8" />
        <circle cx="67.5" cy = "50" r = "1" opacity = "0.8" />
            </g>


{/* Layer 5: The "Soul" Particles (Wisps) */ }
{
    isActive && [...Array(6)].map((_, i) => (
        <motion.circle
            key= {`wisp - ${ i } `}
cx = { 40 + Math.random() * 20 }
cy = { 30 + Math.random() * 40 }
r = "0.4"
fill = "#FFF"
animate = {{
    y: [0, -20],
        x: [0, (i % 2 === 0 ? 5 : -5)],
            opacity: [0, 0.8, 0],
            }}
transition = {{
    duration: 4,
    repeat: Infinity,
    delay: i * 0.7,
    ease: "easeOut"
}}
          />
        ))}
</svg>
    </div>
  );
};


export default AirTotem; $$, '{"stability":100,"firstDiscoverer":"UNKNOWN","firstDiscoveredAt":0}') ON CONFLICT (sense_id, visual_id) DO UPDATE SET svg = EXCLUDED.svg;
-- Visual: a149f57b-aea5-40c3-924d-df25b1588ef9
INSERT INTO sense_visuals (sense_id, visual_id, svg, meta) VALUES ('a149f57b-aea5-40c3-924d-df25b1588ef9', 'default', $$import React from 'react';
import { motion } from 'motion/react';


    const EarthSoilTotem = ({ isActive = false }) => {
        // Kinetic Variants: Heavy, tectonic shifting
        const tectonicShift = {
            active: {
                y: [0, -1.5, 0.5, 0],
                rotateX: [0, 2, -1, 0],
                transition: {
                    duration: 8,
                    repeat: Infinity,
                    ease: "easeInOut"
                }
            },
            dormant: { y: 0, rotateX: 0 }
        };


        const rootPulse = {
            active: {
                strokeDashoffset: [10, 0, 10],
                opacity: [0.3, 0.7, 0.3],
                transition: {
                    duration: 4,
                    repeat: Infinity,
                    ease: "easeInOut"
                }
            }
        };


        return (
            <div className= "w-full h-full flex items-center justify-center bg-transparent" >
            <svg
        viewBox="0 0 100 100"
        className = "w-full h-full drop-shadow-xl"
        style = {{ perspective: '800px' }
    }
      >
    <defs>
    {/* Soil Texture Filter: Creating "Grit" */ }
    < filter id = "soilGrit" >
        <feTurbulence type="fractalNoise" baseFrequency = "0.8" numOctaves = "4" result = "noise" />
            <feDiffuseLighting in="noise" lightingColor = "#543a22" surfaceScale = "2" >
                <feDistantLight azimuth="45" elevation = "60" />
                    </feDiffuseLighting>
                    </filter>


{/* Horizon Gradient: Organic to Mineral */ }
<linearGradient id="soilHorizon" x1 = "0%" y1 = "0%" x2 = "0%" y2 = "100%" >
    <stop offset="0%" stopColor = "#2d1b0e" /> {/* Humus */ }
        < stop offset = "40%" stopColor = "#543a22" /> {/* Topsoil */ }
            < stop offset = "100%" stopColor = "#a67c52" /> {/* Subsoil */ }
                </linearGradient>


{/* Specular Mineral Gradient */ }
<radialGradient id="mineralGlow" cx = "50%" cy = "50%" r = "50%" >
    <stop offset="0%" stopColor = "#fde68a" stopOpacity = "0.6" />
        <stop offset="100%" stopColor = "#fde68a" stopOpacity = "0" />
            </radialGradient>
            </defs>


{/* The Monolith Body (Geometric Assembly) */ }
<motion.g
          variants={ tectonicShift }
animate = { isActive? "active": "dormant" }
    >
    {/* Main Soil Block */ }
    < rect x = "25" y = "30" width = "50" height = "50" rx = "2" fill = "url(#soilHorizon)" />

        {/* Texture Overlay */ }
        < rect x = "25" y = "30" width = "50" height = "50" rx = "2" fill = "black" opacity = "0.2" filter = "url(#soilGrit)" />


            {/* Crystalline Mineral Deposits (Geometric Inlays) */ }
            < polygon points = "35,45 38,42 41,45 38,48" fill = "#fde68a" opacity = "0.8" >
                <motion.animate 
                attributeName="opacity"
values = "0.4;0.9;0.4"
dur = "3s"
repeatCount = "indefinite"
    />
    </polygon>

{/* Organic Fissures (Root paths) */ }
<motion.path
            d="M50 30 Q55 45 45 60 T50 80"
fill = "none"
stroke = "#1a2e05"
strokeWidth = "0.8"
strokeDasharray = "2 1"
variants = { rootPulse }
animate = { isActive? "active": "dormant" }
    />

    <motion.path
            d="M35 30 Q30 50 40 70"
fill = "none"
stroke = "#1a2e05"
strokeWidth = "0.5"
opacity = "0.4"
variants = { rootPulse }
animate = { isActive? "active": "dormant" }
    />


    {/* Surface Detail: The "Land Surface" Crust */ }
    < rect x = "25" y = "30" width = "50" height = "4" fill = "#1a1108" />
        <line x1="25" y1 = "34" x2 = "75" y2 = "34" stroke = "#78350f" strokeWidth = "0.5" opacity = "0.5" />
            </motion.g>


{/* Ambient Ground Glow */ }
<ellipse cx="50" cy = "85" rx = "30" ry = "5" fill = "url(#mineralGlow)" opacity = "0.3" />
    </svg>
    </div>
  );
};


export default EarthSoilTotem; $$, '{"stability":100,"firstDiscoverer":"UNKNOWN","firstDiscoveredAt":0}') ON CONFLICT (sense_id, visual_id) DO UPDATE SET svg = EXCLUDED.svg;
-- Visual: 78883495-5a63-4e48-a488-6e09faa7e0ef
INSERT INTO sense_visuals (sense_id, visual_id, svg, meta) VALUES ('78883495-5a63-4e48-a488-6e09faa7e0ef', 'default', $$import React from 'react';
import { motion } from 'motion/react';


    const EarthTotem = ({ isActive = false }) => {
        // Kinetic Variants for Tectonic Shifting
        const tectonicVariants = {
            active: (i) => ({
                x: i % 2 === 0 ? [0, 1.5, 0] : [0, -1.5, 0],
                y: [0, -0.5, 0],
                transition: {
                    duration: 5,
                    repeat: Infinity,
                    ease: "easeInOut",
                    delay: i * 0.4
                }
            }),
            dormant: { x: 0, y: 0 }
        };


        // Kinetic Variants for "Root" growth or pressure
        const pressureVariants = {
            active: {
                strokeDashoffset: [0, -20],
                opacity: [0.3, 0.7, 0.3],
                transition: { duration: 3, repeat: Infinity, ease: "linear" }
            },
            dormant: { strokeDashoffset: 0, opacity: 0.2 }
        };


        return (
            <div className= "flex items-center justify-center w-full h-full bg-transparent" >
            <svg
        viewBox="0 0 100 100"
        className = "w-64 h-64 drop-shadow-2xl"
        xmlns = "http://www.w3.org/2000/svg"
            >
            <defs>
            {/* Mineral & Stone Gradient */ }
            < linearGradient id = "stoneGradient" x1 = "0%" y1 = "0%" x2 = "100%" y2 = "100%" >
                <stop offset="0%" stopColor = "#4D3E3E" />
                    <stop offset="40%" stopColor = "#2D2424" />
                        <stop offset="100%" stopColor = "#1A1515" />
                            </linearGradient>


        {/* Crystalline Highlight */ }
        <linearGradient id="crystalFacet" x1 = "0%" y1 = "0%" x2 = "0%" y2 = "100%" >
            <stop offset="0%" stopColor = "#94A3B8" stopOpacity = "0.6" />
                <stop offset="100%" stopColor = "#334155" stopOpacity = "0" />
                    </linearGradient>


        {/* Deep Earth Shadow Filter */ }
        <filter id="crush" >
            <feDropShadow dx="0" dy = "1" stdDeviation = "0.8" floodOpacity = "0.8" />
                </filter>


        {/* Clipping for the Tectonic Sections */ }
        <clipPath id="earthContainer" >
            <polygon points="15,20 85,20 50,90" />
                </clipPath>
                </defs>


        {/* Layer 1: The Alchemical Anchor (Inverted Triangle with Bar) */ }
        <g stroke="#78350F" fill = "none" strokeWidth = "2" >
            <polygon points="15,20 85,20 50,90" strokeOpacity = "0.5" />
                <line x1="32.5" y1 = "55" x2 = "67.5" y2 = "55" strokeOpacity = "0.9" />
                    </g>


        {/* Layer 2: Tectonic Plates (Fractional Blocks) */ }
        <g clipPath="url(#earthContainer)" filter = "url(#crush)" >
            <motion.rect 
            x="15" y = "20" width = "70" height = "25" fill = "#3E2723"
        custom = { 1} variants = { tectonicVariants } animate = { isActive? "active": "dormant" }
            />
            <motion.path 
            d="M15 45 L85 45 L70 70 L30 70 Z" fill = "url(#stoneGradient)"
        custom = { 2} variants = { tectonicVariants } animate = { isActive? "active": "dormant" }
            />
            <motion.path 
            d="M30 70 L70 70 L50 90 Z" fill = "#1B1616"
        custom = { 3} variants = { tectonicVariants } animate = { isActive? "active": "dormant" }
            />
            </g>


        {/* Layer 3: Crystalline Facets (The "Salt" of the Earth) */ }
        <motion.polygon
          points="50,55 65,70 50,85 35,70"
        fill = "url(#crystalFacet)"
        style = {{ mixBlendMode: 'overlay' }
    }
          animate={ isActive? { opacity: [0.3, 0.6, 0.3] }: { opacity: 0.4 }}
transition = {{ duration: 4, repeat: Infinity }}
        />


{/* Layer 4: Deep Pressure Veins */ }
<motion.path
          d="M32.5 55 L50 90 L67.5 55"
fill = "none"
stroke = "#F59E0B"
strokeWidth = "0.5"
strokeDasharray = "2 4"
variants = { pressureVariants }
animate = { isActive? "active": "dormant" }
    />


    {/* Layer 5: Foundation Base Line */ }
    < line x1 = "20" y1 = "92" x2 = "80" y2 = "92" stroke = "#451A03" strokeWidth = "3" strokeLinecap = "round" opacity = "0.8" />
        <rect x="45" y = "91" width = "10" height = "2" fill = "#92400E" rx = "0.5" />
            </svg>
            </div>
  );
};


export default EarthTotem; $$, '{"stability":100,"firstDiscoverer":"UNKNOWN","firstDiscoveredAt":0}') ON CONFLICT (sense_id, visual_id) DO UPDATE SET svg = EXCLUDED.svg;
COMMIT;
