/* =========================================
   LOCAL FONT DEFINITIONS (VARIABLE)
   ========================================= */

/* --- LATIN: Cinzel (Variable) --- */
@font-face {
    font-family: 'Cinzel';
    src: url('./Cinzel-Variable.ttf') format('truetype-variations');
    font-weight: 400 900;
    /* Supports range from Regular to Black */
    font-style: normal;
    font-display: swap;
}

/* --- LATIN: Merriweather (Variable) --- */
/* Roman (Upright) */
@font-face {
    font-family: 'Merriweather';
    src: url('./Merriweather-Variable.ttf') format('truetype-variations');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

/* Italic */
@font-face {
    font-family: 'Merriweather';
    src: url('./Merriweather-Italic-Variable.ttf') format('truetype-variations');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

/* --- MONO: Fira Code (Variable) --- */
@font-face {
    font-family: 'Fira Code';
    src: url('./FiraCode-Variable.ttf') format('truetype-variations');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

/* =========================================
   CJK FONTS (Variable)
   ========================================= */

/* --- CJK: Noto Serif SC (Variable) --- */
@font-face {
    font-family: 'Noto Serif SC';
    src: url('./NotoSerifSC-Variable.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

/* --- CJK: Noto Serif JP (Variable) --- */
@font-face {
    font-family: 'Noto Serif JP';
    src: url('./NotoSerifJP-Variable.ttf') format('truetype-variations');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

/* --- CJK: Noto Sans SC (Variable) --- */
@font-face {
    font-family: 'Noto Sans SC';
    src: url('./NotoSansSC-Variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* --- CJK: Noto Sans JP (Variable) --- */
@font-face {
    font-family: 'Noto Sans JP';
    src: url('./NotoSansJP-Variable.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}